<nav class="navbar">
    <a id="skip" class="text-screenreader" href="#content">Skip to content</a>
    <ul>
        <li class="home"><a href="/">Home</a>
            <ul>
                <li class="about"><a href="aboutus.html">About Us</a></li>
                <li class="location"><a href="location.html">Location</a></li>
                <li class="membership"><a href="membership.html">Membership</a></li>
            </ul>
        </li>
        <li class="classes" href="classes.html">Classes</a>
            <ul>
                <li class="foundry"><a href="foundry.html">Foundry</a></li>
                <li class="furniture"><a href="furniture.html">Furniture</a></li>
                <li class="metal-sculpture"><a href="msculpture.html">Metal Sculpture</a></li>
                <li class="stone"><a href="stone.html">Stone</a></li>
                <li class="forging"><a href="forge.html">Forging</a></li>
                <li class="figure"><a href="figure.html">Figure Study</a></li>
                <li class="full-list"><a href="fulllist.html">Full Class List</a></li>
            </ul>
        </li>
        <li class="gallery"><a href="gallery.html">Gallery</a>
            <ul>
                <li class="vince"><a href="vince.html">Vince Hawkins</a></li>
                <li class="bryce"><a href="bryce.html">Bryce de Reynier</a></li>
                <li class="kristin"><a href="kristin.html">Kristin Komorowski</a></li>
                <li class="jon"><a href="jon.html">Jon Gruber</a></li>
                <li class="kristian"><a href="kristian.html">Kristian Damholt</a></li>
                <li class="elisotelo"><a href="elisotelo.html">Eli Sotelo</a></li>
                <li class="lamar"><a href="lamar.html">Lamar Wilson</a></li>
                <li class="student"><a href="student.html">Student Work</a></li>
            </ul>
        </li>
        <li class="events"><a href="events.html">Events</a></li>
        <li class="links"><a href="links.html">Links</a>
            <ul>
                <li class="facartists"><a href="facartists.html">Fire Arts Artists</a></li>
                <li class="chicagoart"><a href="chicagoart.html">Chicago Art</a></li>
            </ul>
        </li>
        <li class="contact"><a href="contactus.html">Contact Us</a></li>
        <li class="donate"><a href="donate.html">Help Out</a>
            <ul>
                <li class="wishlist"><a href="wishlist.html">Wish List</a></li>
            </ul>
        </li>
    </ul>
</nav>

