{
  "extends": [
      "stylelint-config-standard",
      "stylelint-config-idiomatic-order",
      "./node_modules/prettier-stylelint/config.js"
  ],
  "rules": {
    "indentation": 4,
    "string-quotes": "single",
    "selector-type-no-unknown": ["/^amp-/"]
  }
}
