	

	<table class="main" align="center" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td class="leftheader"><a href="/">
			<img  src="/images/vitruvianman.jpg" title="fire arts center of chicago | metal sculpture and design" alt="fire arts center of chicago | metal sculpture and design" /></a>
			</td>
			<td class="banner"><a href="/"><img src="/images/banner.jpg" title="fire arts center of chicago | metal sculpture and design" alt="fire arts center of chicago | metal sculpture and design" /></a>
			</td>
		</tr>
		
<!--
//**************************************//
//                                      //
//  BEGIN MAIN NAVIGATION SIDEBAR CODE  //
//                                      //
//**************************************//
-->
		
		
		<tr>
			<td class="navbarbase">
				<table class="navbar" align="center" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td class="navbarcellmain"><span class="current1">home</span></td>
					</tr>
					<tr>
						<td class="navbarcell2"><span class="class2"><a href="aboutus.html">about us</a></span></td>
					</tr>
					<tr>
						<td class="navbarcell2"><span class="class2"><a href="location.html">location</a></span>
						</td>
					</tr>
					<tr>
						<td class="navbarcell2"><span class="class2"><a href="membership.html">membership</a></span></td>
					</tr>
					<tr>
						<td class="navbarcellmain"><span class="class1"><a href="classes.html">classes</a></span></td>
					</tr>
					<tr>
						<td class="navbarcellmain"><span class="class1"><a href="gallery.html">gallery</a></span></td>
					</tr>
					<tr>
						<td class="navbarcellmain"><span class="class1"><a href="events.html">events</a></span></td>
					</tr>
					<tr>
						<td class="navbarcellmain"><span class="class1"><a href="links.html">links</a></span></td>
					</tr>
					<tr>
						<td class="navbarcellmain"><span class="class1"><a href="contactus.html">contact us</a></span></td>
					</tr>
					<tr>
						<td class="navbarcellmain"><span class="class1"><a href="donate.html">help out</a></span></td>
					</tr>
					</table>
				</td>
				
<!--
//**************************************//
//                                      //
//  END MAIN NAVIGATION SIDEBAR CODE  //
//                                      //
//**************************************//
-->

				
				<td>
					<table style="width:598px; text-align:left;" align="center" border="0" cellpadding="4" cellspacing="4">
						<tr>
							<td class="pageindicator"><div class="header1">home</div></td>
						</tr>
						<tr>
                        	<td style="border-bottom:1px solid #aaa;padding-bottom:15px;">
                            	<div class="header3" style="margin:0 0 10px 25px;">Welcome to the Fire Arts Center of Chicago</div>
                            	<div style="float:right;margin-left:10px;text-align:right;">
                            	  <iframe src="http://player.vimeo.com/video/21648751?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="300" height="169" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><small><a href="http://vimeo.com/21648751">Fire Arts Center</a> from <a href="http://vimeo.com/andrewroddewig">Andrew Roddewig</a> on <a href="http://vimeo.com">Vimeo</a>.</small></p>
                            	  
                            	  <!-- <object width="300" height="238"><param name="movie" value="http://www.youtube.com/v/NmjPXQTqDww&hl=en&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/NmjPXQTqDww&hl=en&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="238"></embed></object><br /><span class="note">video by <a href="http://hrubysculpture.tripod.com/index2.html" target="_blank">Alan Hruby</a></span> -->
                            	</div>
                              <p>The Fire Arts Center of Chicago began 17 years ago as a not-for-profit school for sculptors. Our primary mission is the <strong>preservation of traditional sculpture technique</strong> by offering high-quality training to artists, students and others seeking to learn or perfect their skills. Our secondary mission is to <strong>provide teaching, working, and exhibition opportunities for artists</strong>, as well as technical advice and facilities to artists and institutions.</p>
                                <p><a href="aboutus.html">Read more about the Fire Arts Center of Chicago</a></p>
                            </td>
                        </tr>
                        <tr>
                        	<td>
                            	<span class="header3" style="font-weight:bold;">What's New</span>
                                                     	
                            	<p class="header3" style="text-align:center;">~~~</p>
                            	<h3><a href="year-intensive.html">One-Year Intensive Programs</a></h3>
								              <p>Check out our <a href="year-intensive.html"><strong>new</strong> one-year intensive programs</a> which offer you the chance to immerse yourself in the study of traditional methods and techniques of sculptors as well as the technical skills relevant to those just looking to develop a new trade. Check out the <a href="year-intensive.html">program page</a> for more information or <a href="contact.html">contact us</a> with questions.</p>
								              
								              <p class="header3" style="text-align:center;">~~~</p>
								
								
								<!-- <h3>Open House: October 30th</h3>
								        <p>It's that glorious time of year again. The colors of the city are a little brighter and the air is a little more crisp. That's right, it's Chicago Artists Month. Every year the Fire Arts Center likes to invite you in for an open house to give you a chance to see what we are all about.</p>
								        
								        <p>Here's our schedule for the day so don't miss out:</p>
								        
								        <p style="margin-left:45px;"><strong>11am - 2pm</strong>: Figure sculpture demo open studio open<br>
										<strong>10am - 1pm</strong>: Forging demo<br>
										<strong>3pm - 6pm</strong>: Stone carving demo<br> 
										<strong>3pm - 6pm</strong>: Foundry demo (pour at 5:30pm)</p>  -->
                                <h3>Payment Plans and Discounts</h3>
								<p>We at the Fire Arts Center of Chicago are not immune to the challenges of a difficult economy. Our mission has always been to preserve the traditional methods and techniques of sculptors as well as the technical skills relevant to those just looking to develop a new trade. In order for us to meet that mission we need to provide our classes to as many people as we can. However, when times are tough, finding the money to pay for classes like this is hard. For that reason we have been offering a 1/2-down payment plan to make it easier to pay for classes. Now, in addition to that discount, we are introducing a bartered services option to reduce class prices.</p>
                                <p><strong>How does it work?</strong></p>
                                <p>Do you have experience with fund-raising and think you can lend a hand? Maybe accounting or legal experience? Do you work somewhere that tosses out scrap metal which could be reused by us? The possibilties are endless. The Fire Arts Center is always looking for tips and materials to help us grow, and we want to offer you ways to learn for less.</p>
                                <p><strong>How do I take advantage of the payment plans and discounts?</strong></p>
                                <p>Call us at 773.544.9908. It's as simple as that. Call and let us know what you have to trade and we can work out a discount plan for you.</p>
                                
                                <p class="header3" style="text-align:center;">~~~</p>
                                
                                
							                          
                            <h3>Class Length Changes</h3>
							<p>We are now offering various class lengths to accommodate your schedule better. Now you can choose between <strong>8 week</strong> and <strong>16 week</strong> courses in forging, jewelry, foundry, furniture, and metal sculpture.</p>
							<p>As always our class registration is rolling which means you can join at any time. The classes are small and the instructors help you work at your pace. So no matter when you start you will be walked step-by-step through the process with the personal attention you need. Join when you want and stay for as long as you need.</p> 
							<p><a href="classes.html">Click here</a> to check out all of our classes.</p>
                        </td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="bottomleft"></td>
			<td align="center"><hr style="width:100%; height:2px;" />
			<span class="footer">Fire Arts Center of Chicago | 1800 W Cornelia Ave | Chicago IL 60657<br /> Tel: 773.544.9908 | Tel: 312.842.2027 | Email: <a href="mailto:info@firearts.org">info@firearts.org</a></span>
			</td>
		</tr>
		<tr>
			<td class="bottomleft"></td>
			<td align="center">
			<div class="tiny"><a href="sitemap.html">Sitemap</a></div>
			</td>
		</tr>
	</table>

