.hero {
    background-position: center center;
    background-size: cover;
    background-repeat: none;
    background-color: $gray-darker;
    width: 100%;
    max-width: 100%;

    &.hero--tall {
        min-height: 600px;
        height: 90vh;
    }
}
