// Typography

$font-size-base: 1rem;
$line-height-base: $font-size-base * 1.25;

$font-weight-base: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-family-base: 'Open Sans', sans-serif;
$font-family-headers: 'Raleway', 'Open Sans', sans-serif;
