<div class="class card card-primary card-inverse">
    <div class="card-block">
        <h3 class="card-title">{{title}}</h3>
        <p class="card-text">{{summary}}</p>
        <a href="/class/{{id}}">Read more</a>
    </div>
</div>
