<section class="section" id="test-grid">

    <div class="row text-xs-center">

        <div class="col-xs">
            <div class="Demo">1/2</div>
        </div>

        <div class="col-xs">
            <div class="Demo">1/2</div>
        </div>

    </div>

    <div class="row text-xs-center">

        <div class="col-xs">
            <div class="Demo">1/3</div>
        </div>

        <div class="col-xs">
            <div class="Demo">1/3</div>
        </div>

        <div class="col-xs">
            <div class="Demo">1/3</div>
        </div>

    </div>

    <div class="row text-xs-center">

        <div class="col-xs">
            <div class="Demo">1/4</div>
        </div>

        <div class="col-xs">
            <div class="Demo">1/4</div>
        </div>

        <div class="col-xs">
            <div class="Demo">1/4</div>
        </div>

        <div class="col-xs">
            <div class="Demo">1/4</div>
        </div>

    </div>

    <div class="row flex-items-xs-top">
        <div class="col-md-6">
            <div class="Demo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper facilisis ipsum. Pellentesque a mollis purus. In in hendrerit eros. Vestibulum porta urna lectus. In quis odio eu dui pretium pretium.</div>
        </div>
        <div class="col-md-6">
            <div class="Demo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper facilisis ipsum. Pellentesque a mollis purus. In in hendrerit eros. Vestibulum porta urna lectus. In quis odio eu dui pretium pretium. Sed lobortis vestibulum nulla lacinia consequat. Suspendisse eget orci lectus. Integer nisi lacus, dignissim ut ornare et, vehicula quis magna. Integer ac est feugiat, fermentum eros nec, dictum justo. Sed id rutrum purus. Aliquam felis nulla, tincidunt eget tortor et, tristique tempus nisi. Proin congue dui vel nulla venenatis fringilla.,</div>
        </div>
    </div>

    <div class="row flex-items-xs-middle">
        <div class="col-md-6">
            <div class="Demo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper facilisis ipsum. Pellentesque a mollis purus. In in hendrerit eros. Vestibulum porta urna lectus. In quis odio eu dui pretium pretium.</div>
        </div>
        <div class="col-md-6">
            <div class="Demo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper facilisis ipsum. Pellentesque a mollis purus. In in hendrerit eros. Vestibulum porta urna lectus. In quis odio eu dui pretium pretium. Sed lobortis vestibulum nulla lacinia consequat. Suspendisse eget orci lectus. Integer nisi lacus, dignissim ut ornare et, vehicula quis magna. Integer ac est feugiat, fermentum eros nec, dictum justo. Sed id rutrum purus. Aliquam felis nulla, tincidunt eget tortor et, tristique tempus nisi. Proin congue dui vel nulla venenatis fringilla.,</div>
        </div>
    </div>

    <div class="row flex-items-xs-bottom">
        <div class="col-md-6">
            <div class="Demo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper facilisis ipsum. Pellentesque a mollis purus. In in hendrerit eros. Vestibulum porta urna lectus. In quis odio eu dui pretium pretium.</div>
        </div>
        <div class="col-md-6">
            <div class="Demo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper facilisis ipsum. Pellentesque a mollis purus. In in hendrerit eros. Vestibulum porta urna lectus. In quis odio eu dui pretium pretium. Sed lobortis vestibulum nulla lacinia consequat. Suspendisse eget orci lectus. Integer nisi lacus, dignissim ut ornare et, vehicula quis magna. Integer ac est feugiat, fermentum eros nec, dictum justo. Sed id rutrum purus. Aliquam felis nulla, tincidunt eget tortor et, tristique tempus nisi. Proin congue dui vel nulla venenatis fringilla.,</div>
        </div>
    </div>
</section>
