<tr>
    <td class="leftheader">
        <a href="/">
            <img src="images/{{headerLeft.img}}" alt="{{headerLeft.alt}}">
        </a>
    </td>
    <td class="banner">
        <a href="/">
            <img src="images/{{headerBanner.img}}" alt="{{headerBanner.alt}}">
        </a>
    </td>
</tr>
