<tr>
    <td class="leftheader">
        <a href="{{ org.site }}/">
            <img src="/images/vitruvianman.jpg" title="fire arts center of chicago | metal sculpture and design" alt="fire arts center of chicago | metal sculpture and design" />
        </a>
    </td>
    <td class="banner">
        <a href="{{ org.site }}/">
            <img src="/images/banner.jpg" title="fire arts center of chicago | metal sculpture and design" alt="fire arts center of chicago | metal sculpture and design" />
        </a>
    </td>
</tr>
