<section class="Section video multirow">
    <div class="Grid__container">
        <div class="Grid">
            <div class="Grid__col">
                <h2>{{title}}</h2>
                <p>{{{content.copy}}}</p>
            </div>
            <div class="Grid__col">
                {{{content.video}}}
            </div>
        </div>
    </div>
</section>
