<section class="video multirow">
    <div class="row">
        <div class="col col-6">
            <h2>{{title}}</h2>
            <p>{{{content.copy}}}</p>
        </div>
        <div class="col col-6">
            {{{content.video}}}
        </div>
    </div>
</section>
