<section id="video">
    <div class="row flex-items-xs-middle">
        <div class="col-xs">
            <h2>{{foo title}}</h2>
            <p>{{{content.copy}}}</p>
            <a href="about.html" class="btn btn-primary">About the Fire Arts Center</a>
        </div>
        <div class="col-xs">
            {{{content.video}}}
        </div>
    </div>
</section>
