<tr>
    <td class="leftheader"><a href="{{ '/' | relative_url }}"><img src="{{ '/images/vitruvianman.jpg' | relative_url }}" title="Fire Arts Center of Chicago | metal sculpture and design" alt="Fire Arts Center of Chicago | metal sculpture and design"></a></td>
    <td class="banner"><a href="{{ '/' | relative_url }}"><img src="{{ '/images/banner.jpg' | relative_url }}" title="Fire Arts Center of Chicago | metal sculpture and design" alt="Fire Arts Center of Chicago | metal sculpture and design"></a></td>
</tr>
