<tr>
    <td class="leftheader">
        <a href="{{ '/' | relative_url }}">
            <amp-img alt="Fire Arts Center of Chicago | metal sculpture and design"
                src="{{ '/images/vitruvianman.jpg' | relative_url }}"
                width="133"
                height="137"
                layout="fixed">
            </amp-img>
        </a>
    </td>
    <td class="banner">
        <a href="{{ '/' | relative_url }}">
            <amp-img alt="Fire Arts Center of Chicago | metal sculpture and design"
                src="{{ '/images/banner.jpg' | relative_url }}"
                width="594"
                height="137"
                layout="fixed">
            </amp-img>
        </a>
    </td>
</tr>
