<tr>
    <td class="leftheader">
        <a href="{{ '/' | relative_url }}">
            {% include image.html src='images/vitruvianman.jpg' alt='Fire Arts Center of Chicago logo' width='133' height='137' layout='fixed' %}
        </a>
    </td>
    <td class="banner">
        <a href="{{ '/' | relative_url }}">
            {% include image.html src='images/banner.jpg' alt='Students at the Fire Arts Center wearing protective equipment pouring bronze' width='594' height='137' layout='fixed' %}
        </a>
    </td>
</tr>
