---
layout: page
title: Bryce de Reynier
id: people-bryce
content: |
    <h3>About Bryce</h3>
    <p>Bryce de Reynier earned his Bachelor of Architecture from Rensselaer Polytechnic Institute, and studied at the Center for Environmental Planning and Technology in Ahmedabad India under the direction of B.V. Doshi.</p>
    <p>He currently practices as an architect in the office of Richard Meier Architects in New York. Bryce has been an artist, member, and teacher at the FACC for the past 10 years.</p>

---

{{> col-8-center }}
