---
layout: page
title: Eli Sotelo
id: people-eli
content: |
    <h3>About Eli</h3>
    <p>Eli Sotelo's furniture and lighting works display a blend of technology and the organic. At the <em>Fire Arts Center of Chicago</em> the sky is the limit as to where you can take your furniture works. As Eli displays the piece can be functional and decorative. <a href="/register">Sign up for classes</a> today and begin your exploration into the functional and decorative as well.</p>

---

{{> col-8-center }}
