/* ************ Additional Utilities *********** */

.columns2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

    .gallery {
        break-after: column;
    }
}

.text-screenreader {
    @apply absolute border-0 h-px overflow-hidden -m-px p-0 w-px;

    clip: rect(0 0 0 0);
    transition: height 1s;
}

#skip:focus {
    @apply h-auto static text-xs w-auto;
}

.button {
    @apply border-b-0 font-semibold inline-block px-8 py-3 no-underline;

    &:focus,
    &:hover {
        @apply border-b-0;
    }
}

.button--primary {
    @apply bg-fac-red text-white;

    &:focus,
    &:hover {
        background-color: color(config('colors.fac-red') shade(20%));
        color: config('colors.white');
    }
}
