/* ************** Base Styles **************** */

html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

body {
    line-height: 1.3333;
    scroll-behavior: smooth;
}

*,
::before,
::after {
    box-sizing: border-box;
}
