@tailwind preflight;
@tailwind components;
@tailwind utilities;

/*
 * fac.css
 */

/* ************** Base Styles **************** */

body {
    font-size: 16px;
    line-height: 1.25;
}

*,
:before,
:after {
    box-sizing: border-box;
}

p + p {
    margin-top: 1rem;
}

p strong {
    color: config('colors.white');
}

/* ************** Grid *************** */

.container {
    max-width: 50rem;
}

.grid {
    display: grid;
}

.grid-main {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

header,
footer {
    grid-column: 1 / span 5;
}

main {
    grid-column: 2 / span 3;
}

aside {
    grid-column: 1;
}

.note {
    @apply border-dotted border-grey-lighter mb-4 pb-4;
}

/* *************Links************** */

a {
    padding-bottom: 0.125rem;

    text-decoration: none;

    color: config('colors.white');
    border-bottom: 1px dotted #ededed;
}

a:visited {
    color: config('colors.white');
}

a:active {
    color: config('colors.white');
}

a:focus,
a:hover {
    color: #f90;
    border-bottom: 1px solid #f90;
}

.class-categories a {
    border-bottom: none;
}

/* Naviation */

.navbar ul {
    font-weight: 600;

    margin-left: 0;
    margin-left: 0.5rem;
    padding-left: 0.5rem;

    list-style: none;
}

.navbar a:focus {
    outline: none;
}

.navbar > ul > li {
    padding: 0.5rem 0;
}

.navbar ul ul {
    display: none;
}

.home .navbar .home ul,
.about .navbar .home ul,
.location .navbar .home ul,
.membership .navbar .home ul,
.classes .navbar .classes ul,
.foundry .navbar .classes ul,
.furniture .navbar .classes ul,
.metal-sculpture .navbar .classes ul,
.stone .navbar .classes ul,
.forging .navbar .classes ul,
.figure .navbar .classes ul,
.full-list .navbar .classes ul,
.gallery .navbar .gallery ul,
.vince .navbar .gallery ul,
.bryce .navbar .gallery ul,
.kristin .navbar .gallery ul,
.john-gruber .navbar .gallery ul,
.kristian .navbar .gallery ul,
.elisotelo .navbar .gallery ul,
.lamar .navbar .gallery ul,
.student .navbar .gallery ul,
.links .navbar .links ul,
.facartists .navbar .links ul,
.chicagoart .navbar .links ul,
.wishlist .navbar .donate ul,
.donate .navbar .donate ul {
    display: block;

    height: auto;
    padding: 0.5rem 0;
}

.home .navbar .home > a,
.about .navbar .about > a,
.location .navbar .location > a,
.membership .navbar .membership > a,
.classes .navbar .classes > a,
.foundry .navbar .foundry > a,
.furniture .navbar .furniture > a,
.metal-sculpture .navbar .metal-sculpture > a,
.stone .navbar .stone > a,
.forging .navbar .forging > a,
.figure .navbar .figure > a,
.full-list .navbar .full-list > a,
.gallery .navbar .gallery > a,
.vince .navbar .vince > a,
.bryce .navbar .bryce > a,
.kristin .navbar .kristin > a,
.john-gruber .navbar .john-gruber > a,
.kristian .navbar .kristian > a,
.elisotelo .navbar .elisotelo > a,
.lamar .navbar .lamar > a,
.student .navbar .student > a,
.events .navbar .events > a,
.links .navbar .links > a,
.facartists .navbar .facartists > a,
.chicagoart .navbar .chicagoart > a,
.contact .navbar .contact > a,
.wishlist .navbar .wishlist > a,
.donate .navbar .donate > a {
    cursor: default;

    color: config('colors.white');
}

.home .navbar .home > a::after,
.about .navbar .about > a::after,
.location .navbar .location > a::after,
.membership .navbar .membership > a::after,
.classes .navbar .classes > a::after,
.foundry .navbar .foundry > a::after,
.furniture .navbar .furniture > a::after,
.metal-sculpture .navbar .metal-sculpture > a::after,
.stone .navbar .stone > a::after,
.forging .navbar .forging > a::after,
.figure .navbar .figure > a::after,
.full-list .navbar .full-list > a::after,
.gallery .navbar .gallery > a::after,
.vince .navbar .vince > a::after,
.bryce .navbar .bryce > a::after,
.kristin .navbar .kristin > a::after,
.john-gruber .navbar .john-gruber > a::after,
.kristian .navbar .kristian > a::after,
.elisotelo .navbar .elisotelo > a::after,
.lamar .navbar .lamar > a::after,
.student .navbar .student > a::after,
.events .navbar .events > a::after,
.links .navbar .links > a::after,
.facartists .navbar .facartists > a::after,
.chicagoart .navbar .chicagoart > a::after,
.contact .navbar .contact > a::after,
.wishlist .navbar .wishlist > a::after,
.donate .navbar .donate > a::after {
    padding-left: 0.25rem;

    content: '\203A';
}

.navbar a:not(.button) {
    text-align: right;
    text-decoration: none;

    color: #adadad;
}

.navbar li a:not(.button):hover::after,
.navbar li a:not(.button):focus::after {
    padding-left: 0.25rem;

    content: '\203A';
}

.navbar ul ul li {
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 2.5;
}


/* ********Fonts, Headers, and Footers********** */

ul {
    margin-left: 1rem;
    padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;

    color: config('colors.white');
}

h2,
h3,
h4,
h5,
h6 {
    @apply my-4 mx-0;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

/* ************Classes*********** */

.class-categories a {
    display: block;
    padding-bottom: 0;
}

/* ************Special Features*********** */

.columns2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    .gallery {
        break-after: column;
    }
}

.text-screenreader {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    transition: height 1s;

    border: 0;
}
#skip:focus {
    font-size: 0.75rem;

    position: static;

    width: auto;
    height: auto;

    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: .75rem 2rem;
}

.button--primary {
    background-color: config('colors.fac-red');
    color: config('colors.white');
    &:focus,
    &:hover {
        background-color: color(config('colors.fac-red') shade(20%));
        color: config('colors.white');
    }
}
