.leftheader {
	width: 137px;
	background-color: $secondary;
    padding-bottom: 25px;
    img {
        border: 0; 
        width: 133px; 
        height: 137px; 
        margin: 2px;
    }
}

.banner {
	width: 598px;
	background-color: $secondary;
    padding-bottom: 25px;
    img {
        width: 594px;
        height: 137px;
        margin: 2px;
        border: 0;
    }
}
