.navbar {
    width: 137px;
}

.navbarbase {
    width: 137px;
    text-align: center;
    vertical-align: top;
    background-color: $secondary;
    & + td {
        vertical-align: top;
    }
}

// This class is for the navigation bar primary links. For example the links for "home," "classes," "gallery," etc. are the primary navigation links.  This only applies to the background and table-cell size of the table containing these links, NOT the links. To change the links see the four ".class1" link settings to change them below (located under the section entitled Links */

.navbarcellmain {
	height: 25px;
	width: 137px;
	background-color: $tertiary;
	text-align:left;
}

// This class is for the navigation bar secondary links. For example underneath the link for "home" are the secondary links "about us," "location," "updates," and "membership."  This only applies to the background and table-cell size of the table containing these links, NOT the links. To change the links see the four ".class2" link settings to change them below (located under the section entitled Links */

.navbarcell2 {
	height: 25px;
	width: 137px;
	vertical-align: middle; 
	background-color: $black;
	text-align: left;
}

.navbarcell_donate {
	height: 25px;
	width: 137px;
	background-color: $secondary;
}
