/* Variables */
/* colors */
$primary: #900;
$secondary: #f90;
$tertiary: #c60;
$black: #000;
$gray-darker: #666;
$gray: #999;
$gray-lighter: #ccc;
$gray-lightest: #eee;
$white: #fff;

$link: $primary;
$link-hover: lighten($primary, 5%);

/* typography */

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;
$base-font-weight: 400;

$font-family-base: 'Open Sans', sans-serif;
$font-family-headers: 'Open Sans', sans-serif;



