---
layout: page
title: Contact the Fire Arts Center 
id: contact 
content: |
    <p>If you are interested in bronze or iron casting (using the lost-wax method), metal furniture design, armor forging, stone carving, figure sculpture, figure drawing or just want to check out the Fire Arts Center of Chicago's studio, please contact us and let us know.</p>
    <p>You can reach us by email at either of the email addresses below:</p> 
    <p><a href="mailto:info@firearts.org">Fire Arts Info</a> or <a href="mailto:uroboros7@yahoo.com">Alternate Email</a></p>
    <p>You can contact us by phone at any of the following phone numbers:</p>
    <p>773.544.9908 or 312.842.2027</p>
    <p>And finally you can send a letter or stop by the studio which is located at the following address:</p>
    <p>Fire Arts Center of Chicago<br />
    1800 W Cornelia Avenue<br />
    Chicago, IL 60657</p>

---

{{> col-8-center }}
