---
layout: page
title: Donate to the Fire Arts Center 
lead: So you want to help out the Fire Arts Center of Chicago. There are a number of ways you can help.
id: donate
content: |
    <ul>
        <li>Take a class: That's right. Just sign up for a class. We here at Fire Arts are excited about sharing our knowledge with the community. We love having the studio full of excited people making art. And on top of it, the money you give for classes goes to the promotion of more classes! So <a href="/register" title="Sign up for classes today!">sign up today</a>.</li>
        <li>Give till it hurts: So you are not interested in taking a class at this time, but want to ensure that others in the community are able to experience the joys of the fire arts. We all appreciate the offer. <a href="/contact">Contact us</a> about donating money. You can stop by the studio or mail in a check if you like.</li>
        <li>And then give some more: Don't really have much money to give out. Not to worry, we also accept supplies and equipment donations. We like to consider ourselves a recycling center of sorts. <a href="/contact">Contact us</a> about what types of material we can use. You'd be surprised, so why not call and find out. Businesses with any sort of equipment (metal fabrication tools, power saws, welding equipment, hand tools, cement mixers, buckets, and so much more) be sure to <a href="/contact">contact us</a> as well. Hate the idea of having to haul that giant drill press to the scrap heap...contact us and we may be able to come pick it up for you. We're glad to help out. <a href="/wish-list">Check our wish list</a> for lists of specific equipment that we are hoping to obtain.</li>
        <li>Tell a friend: Know someone who might like to get involved at the Fire Arts Center of Chicago. Pass the word along to them. Better yet, why not surprise them with the gift of fire...<a href="/register">sign them up for classes today</a>. They may even thank you by making you a full suit of armor, a sculpture of you cast in bronze, or maybe that steel-frame desk you have been hoping to get but couldn't afford to buy at the store. Now that is a gift!</li>
    </ul>
    <p>As you can see there are so many ways to help us pour another bronze sculpture, weld another piece of furniture, forge another suit of armor, or sculpt another figure in clay. But again, our favorite way to keep the place running is to...well...keep it running. <a href="/register" title="Sign up for classes today!">Sign up for classes</a> and help us do just that. We look forward to having you in our next <a href="/classes">class</a>.</p>

---

{{> col-8-center }}
