---
layout: page
title: Upcoming Events
id: events
lead: As if you need more excuses to stop by the Fire Arts Center of Chicago. Check back for special events and open houses.
---
<section id="events">
    <div class="container">
        {{#each events}}
            {{> event}}
        {{/each}}
    </div>
</div>

