---
layout: page
title: Class Sign-up 
id: signup 
lead: Find out how to sign up for classes at the Fire Arts Center of Chicago below.
---
<section id="class-signup">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>General Registration Information</h2>
                <p>Figure sculpture and figure drawing classes are on a 16-week semester structure and are pro-rated. All other classes are on-going so you can sign up at any time.</p>
                <p>Figure classes are $285.00 for 16 weeks. Bronze casting is $385. All other classes are $385.00 for 16 weeks. (See our <a href="{{org.siteRoot.development}}/classes">class listing page</a> for more details about specific class prices.)</p>
                <p>Want to sign up for classes at the Fire Arts Center of Chicago? Click the link below for a printable registration form:</p>
                <a class="btn btn-lg btn-primary" href="{{org.siteRoot.development}}/downlaods/{{org.docs.register}}" target="firearts">Click Here for Class Registration Form!</a>
            </div>
            <div class="col-md-4">
                {{> how-to-signup}}
            </div>
        </div>
    </div>
</section>
