/*
 * fac.css
 */

/* **************General Page**************** */

body {
    background-color: #222;
    color: #c9c9c9;
    font-family: "Futura Lt BT", arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
}

*,
:before,
:after {
    box-sizing: border-box;
}

p + p {
    margin-top: 1rem;
}

p strong {
    color: #fff;
}

td {
    vertical-align: top;
}

/* **************Table Cell Properties*************** */

.main {
    width: 755px;
    margin: 1rem auto;
}

.leftheader {
    width: 137px;
    text-align: center;
    padding-right: 20px;
}

.banner {
    width: 598px;
}

.leftheader a,
.banner a {
    display: block;
}

.content {
    padding: 1rem;
}

.note {
    border-bottom: 1px dotted #ededed;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.leftheader img {
    width: 133px;
    height: 137px;
    margin: 2px;
}

.banner img {
    width: 594px;
    height: 137px;
    margin: 2px;
}

.pageindicator {
    background-color: #900;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.footer {
    font-size: .75rem;
    padding: 3rem 0 1rem;
    border-top: 1px solid #333;
}

/* *************Links************** */

a {
    color: #fff;
    padding-bottom: .125rem;
    text-decoration: none;
    border-bottom: 1px dotted #ededed;
}

a:visited {
    color: #fff;
}

a:active {
    color: #fff;
}

a:focus,
a:hover {
    color:#f90;
    border-bottom: 1px solid #f90;
}

.leftheader a,
.banner a,
.navbar a,
.class-categories a {
    border-bottom: none;
}

/* Naviation */

.navbar ul {
    list-style: none;
    margin-left: 0;
    margin-left: .5rem;
    font-weight: 600;
    padding-left: .5rem;
}

.navbar a:focus {
    outline: none;
}

.navbar > ul > li {
    padding: .5rem 0;
}

.navbar ul ul {
    display: none;
}

.home .navbar .home ul,
.about .navbar .home ul,
.location .navbar .home ul,
.membership .navbar .home ul,
.classes .navbar .classes ul,
.foundry .navbar .classes ul,
.furniture .navbar .classes ul,
.metal-sculpture .navbar .classes ul,
.stone .navbar .classes ul,
.forging .navbar .classes ul,
.figure .navbar .classes ul,
.full-list .navbar .classes ul,
.gallery .navbar .gallery ul,
.vince .navbar .gallery ul,
.bryce .navbar .gallery ul,
.kristin .navbar .gallery ul,
.jon .navbar .gallery ul,
.kristian .navbar .gallery ul,
.elisotelo .navbar .gallery ul,
.lamar .navbar .gallery ul,
.student .navbar .gallery ul,
.links .navbar .links ul,
.facartists .navbar .links ul,
.chicagoart .navbar .links ul,
.wishlist .navbar .donate ul,
.donate .navbar .donate ul {
    display: block;
    height: auto;
    padding: .5rem 0;
}

.home .navbar .home > a,
.about .navbar .about > a,
.location .navbar .location > a,
.membership .navbar .membership > a,
.classes .navbar .classes > a,
.foundry .navbar .foundry > a,
.furniture .navbar .furniture > a,
.metal-sculpture .navbar .metal-sculpture > a,
.stone .navbar .stone > a,
.forging .navbar .forging > a,
.figure .navbar .figure > a,
.full-list .navbar .full-list > a,
.gallery .navbar .gallery > a,
.vince .navbar .vince > a,
.bryce .navbar .bryce > a,
.kristin .navbar .kristin > a,
.jon .navbar .jon > a,
.kristian .navbar .kristian > a,
.elisotelo .navbar .elisotelo > a,
.lamar .navbar .lamar > a,
.student .navbar .student > a,
.events .navbar .events > a,
.links .navbar .links > a,
.facartists .navbar .facartists > a,
.chicagoart .navbar .chicagoart > a,
.contact .navbar .contact > a,
.wishlist .navbar .wishlist > a,
.donate .navbar .donate > a {
    cursor: default;
    color: #fff;
}

.home .navbar .home > a::after,
.about .navbar .about > a::after,
.location .navbar .location > a::after,
.membership .navbar .membership > a::after,
.classes .navbar .classes > a::after,
.foundry .navbar .foundry > a::after,
.furniture .navbar .furniture > a::after,
.metal-sculpture .navbar .metal-sculpture > a::after,
.stone .navbar .stone > a::after,
.forging .navbar .forging > a::after,
.figure .navbar .figure > a::after,
.full-list .navbar .full-list > a::after,
.gallery .navbar .gallery > a::after,
.vince .navbar .vince > a::after,
.bryce .navbar .bryce > a::after,
.kristin .navbar .kristin > a::after,
.jon .navbar .jon > a::after,
.kristian .navbar .kristian > a::after,
.elisotelo .navbar .elisotelo > a::after,
.lamar .navbar .lamar > a::after,
.student .navbar .student > a::after,
.events .navbar .events > a::after,
.links .navbar .links > a::after,
.facartists .navbar .facartists > a::after,
.chicagoart .navbar .chicagoart > a::after,
.contact .navbar .contact > a::after,
.wishlist .navbar .wishlist > a::after,
.donate .navbar .donate > a::after {
    content: "\203A";
    padding-left: .25rem;
}

.navbar a {
    color: #adadad;
    text-decoration:none;
    text-align:right;
}

.navbar li a:hover::after,
.navbar li a:focus::after {
    content: "\203A";
    padding-left: .25rem;
}

.navbar ul ul li {
    font-size: .85rem;
    line-height: 2.5;
    font-weight: 400;
}


/* ********Fonts, Headers, and Footers********** */

ul {
    margin-left: 1rem;
    padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-weight: normal;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.75rem;
}

h2.section-head {
    margin-top: 50px;
    border-bottom: 1px solid #900;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

.date {
	font-size: 75%;
	}

.tiny {
	font-size: 75%;
	}

.underline {
	text-decoration: underline;	
	}

.backtotop {
	text-decoration: underline;
	font-size: 80%;
	}

.formindent {
	margin-left: 25px;	
	}

.requiredfields {
	color: #900;
	font-style: italic;
	font-weight: bold;
	}

.emphasis {
	font-style: italic;
	color: #990000;
	}

/* ************Classes*********** */

.class-categories {
    width: 100%;
}

.class-categories td:not(.pageindicator) {
    width: 118px;
    height: 118px;
    text-align: center;
}

.class-categories td img {
    margin: .125rem;
}

.class-categories a {
    display: block;
}

.class-categories td a:focus,
.class-categories td a:hover {
    outline: 3px solid #f00;
}


/* ************Special Features*********** */

.float1 {
	color: #900;
	float: left;
	width: 100px; 
	height: 25px; 
	margin: 0px 10px 10px 0px;
	line-height: 18px; 
	text-align: left; 
	font-size: 22px;
	}

img.floatright {
	float: right;
	margin: 4px;
	}

img.floatleft {
	float: left;
	margin: 4px;
	}

/**
 * Utility Classes
 */
.margin-left-1 {
    margin-left: 1rem;
}

.clearFloat{
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}

.text-screenreader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    transition: height 1s;
}
#skip:focus {
    position:static;
    width:auto;
    height:auto;
    font-size: .75rem;
    text-decoration: underline;
}
