RewriteEngine on
RewriteCond %{HTTP_HOST} !^www.firearts.org [NC]
RewriteRule ^(.*)$ http://www.firearts.org/$1 [L,R=301]

ErrorDocument 404 /404.html

Redirect 301 /about              /about-us/
Redirect 301 /aboutus.html       /about-us/
Redirect 301 /location.html      /location/
Redirect 301 /membership.html    /membership/
Redirect 301 /events.html        /events/
Redirect 301 /contact            /contact-us/
Redirect 301 /contact.html       /contact-us/
Redirect 301 /contactus.html     /contact-us/
Redirect 301 /donate.html        /donate/
Redirect 301 /wishlist.html      /donate/wishlist/
Redirect 301 /sitemap.html       /sitemap/


Redirect 301 /links.html         /links/
Redirect 301 /facartists.html    /links/fire-arts-artists/
Redirect 301 /chicagoart.html    /links/chicago-art/
Redirect 301 /supplies.html      /links/
Redirect 301 /museums.html       /links/
Redirect 301 /artsites.html      /links/

#Redirect 301 /FireArts_RegistrationForm.pdf          /downloads/FireArts_RegistrationForm.pdf
Redirect 301 /FireArts_RegistrationForm.pdf          /register/
Redirect 301 /resources/VincentHawkins_Resume.pdf    /downloads/VincentHawkins_Resume.pdf

Redirect 301 /classes.html               /classes/
Redirect 301 /forge.html                 /classes/forge/
Redirect 301 /kids.html                  /classes/
Redirect 301 /foundry.html               /classes/foundry/
Redirect 301 /furniture.html             /classes/metal-furniture/
Redirect 301 /msculpture.html            /classes/metal-sculpture/
Redirect 301 /stone.html                 /classes/stone-carving/
Redirect 301 /mold.html                  /classes/foundry/
Redirect 301 /figure.html                /classes/figure-study/
Redirect 301 /fulllist.html              /classes/full-list/
Redirect 301 /year-intensive.html        /classes/year-intensive/
Redirect 301 /workshops                  /classes/year-intensive/
Redirect 301 /workshops.html             /classes/year-intensive/
Redirect 301 /FireArts_ClassSchedule.pdf /classes/

Redirect 301 /gallery.html           /galleries/
Redirect 301 /vince.html             /galleries/vincent-hawkins/
Redirect 301 /michael.html           /galleries/
Redirect 301 /bryce.html             /galleries/bryce-de-reynier/
Redirect 301 /kristin.html           /galleries/kristin-komorowski/
Redirect 301 /jon.html               /galleries/john-gruber/
Redirect 301 /kristian.html          /galleries/kristian-damholt/
Redirect 301 /elisotelo.html         /galleries/eli-sotelo/
Redirect 301 /bouba.html             /galleries/
Redirect 301 /lamar.html             /galleries/
Redirect 301 /student.html           /galleries/student-work/

# Old Redirects

# 
# File Redirects
# Redirect 301 /sample.htm http://www.firearts.org/sample.html
#

# Redirect 301 /gall.htm http://www.firearts.org/gallery.html
# Redirect 301 /figure.htm http://www.firearts.org/figure.html
# Redirect 301 /bryce.htm http://www.firearts.org/bryce.html
# Redirect 301 /vince.htm http://www.firearts.org/vince.html
# Redirect 301 /foundry.htm http://www.firearts.org/foundry.html
# Redirect 301 /updates.html http://www.firearts.org/wordpress/
# Redirect 301 /home.html http://www.firearts.org/
# Redirect 301 /bouba.html http://www.firearts.org/gallery/index.php?cat=12
# Redirect 301 /michael.html http://www.firearts.org/gallery/index.php?cat=11
# Redirect 301 /seth.html http://www.firearts.org/gallery.html
# Redirect 301 /dragon.html http://www.firearts.org/gallery.html
# Redirect 301 /keiko.html http://www.firearts.org/gallery.html
# Redirect 301 /jewelry.html http://www.firearts.org/classes.html
# Redirect 301 /index_old.html http://www.firearts.org/
# Redirect 301 /elio.html http://www.firearts.org/elisotelo.html
# Redirect 301 /contact.html http://www.firearts.org/contactus.html
# Redirect 301 /classes.htm http://www.firearts.org/classes.html
# Redirect 301 /aboutsite.html http://www.firearts.org/aboutus.html
# Redirect 301 /FireArts_ClassSchedule.pdf http://www.firearts.org/classes.html
# Redirect 301 /registration.pdf http://www.firearts.org/FireArts_RegistrationForm.pdf

# temp maintenance
# RedirectMatch 307 /gallery/(.*) http://www.firearts.org/maintenance.html
# RedirectMatch 307 /wordpress/(.*) http://www.firearts.org/maintenance.html
