---
layout: page
id: classes
permalink: /classes/
title: Classes
excerpt: The Fire Arts Center of Chicago offers classes for all ages and experience levels.
---

<table class="class-categories">
    <tr>
        <td class="content">
            <a href="{{ '/classes/full-list/' | relative_url }}">
                {% include image.html src='images/faccsealsm.jpg' alt='' width='114' height='114' layout='fixed' %}
                <h2 class="text-screenreader">Full Class List</h2>
            </a>
        </td>
        <td class="content">
            <a href="{{ '/classes/metal-furniture/' | relative_url }}">
                {% include image.html src='images/furnituresm.jpg' alt='' width='114' height='114' layout='fixed' %}
                <h2 class="text-screenreader">Furniture Design Classes</h2>
            </a>
        </td>
        <td class="content">
            <a href="{{ '/classes/forge/' | relative_url }}">
                {% include image.html src='images/forgesm.jpg' alt='' width='114' height='114' layout='fixed' %}
                <h2 class="text-screenreader">Forging Classes</h2>
            </a>
        </td>
        <td class="content">
            <a href="{{ '/classes/figure-sculpture/' | relative_url }}">
                {% include image.html src='images/figuresm.jpg' alt='' width='114' height='114' layout='fixed' %}
                <h2 class="text-screenreader">Figure Study Classes</h2>
            </a>
        </td>
    </tr>
    <tr>
        <td class="content">
            <a href="{{ '/classes/foundry/' | relative_url }}">
                {% include image.html src='images/foundrysm.jpg' alt='' width='114' height='114' layout='fixed' %}
                <h2 class="text-screenreader">Foundry Classes</h2>
            </a>
        </td>
        <td class="content">
            <a href="{{ '/classes/metal-sculpture/' | relative_url }}">
                {% include image.html src='images/msculpturesm.jpg' alt='' width='114' height='114' layout='fixed' %}
                <h2 class="text-screenreader">Metal Sculpture Classes</h2>
            </a>
        </td>
        <td class="content">
            <a href="{{ '/classes/stone-carving/' | relative_url }}">
                {% include image.html src='images/stone.jpg' alt='' width='114' height='114' layout='fixed' %}
                <h2 class="text-screenreader">Stone Carving Classes</h2>
            </a>
        </td>
    </tr>
</table>
