---
layout: page
id: classes
permalink: /classes/
title: Classes
excerpt: The Fire Arts Center of Chicago offers classes for all ages and experience levels.
---

<div class="grid grid-classes items-stretch">

{% include components/class-card.html link="/classes/foundry/" image="images/foundry-bronze-pour-md.jpg" title="Metal Foundry Studio" %}

{% include components/class-card.html link="/classes/forge/" image="images/forging-md.jpg" title="Blade Smithing: Knife and Sword Forging" %}

{% include components/class-card.html link="/classes/metal-furniture/" image="images/bench-sm.jpg" title="Metal Furniture Studio" %}

{% include components/class-card.html link="/classes/metal-sculpture/" image="images/welding-md.jpg" title="Metal Sculpture Studio" %}

{% include components/class-card.html link="/classes/figure-study/" image="images/figure-study-md.jpg" title="Figure Study" %}

{% include components/class-card.html link="/classes/stone-carving/" image="images/stone-carving-hammer-chisel-md.jpg" title="Stone Carving" %}

{% include components/class-card.html link="/classes/full-list/" image="images/furnace-md.jpg" title="Full Class List" %}

</div>
