---
layout: page
title: Location
permalink: /location/
id: location
amp:
    -
        element: amp-iframe
        script: https://cdn.ampproject.org/v0/amp-iframe-0.1.js
---

<p>The Fire Arts Center is located at <a href="https://www.google.com/maps/place/1830+N+Kostner+Ave,+Chicago,+IL+60639/@41.914523,-87.7391216,17z/data=!3m1!4b1!4m5!3m4!1s0x880fcd2081e4de1b:0xc5f431da9c1c0edf!8m2!3d41.914519!4d-87.7369329" target="_blank" rel="noopener noreferrer"><em>{{ site.organization.address }} ({{ site.organization.zip }})</em></a>.</p>

<p>The entrance is behind the building on Cortland and Kenneth. Call us if you have any problems getting in {% for phone in site.organization.phones %}{{ phone }}{% if forloop.last != true %} or {% endif %}{% endfor %}.</p>

<amp-iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.9864503486756!2d-87.73625299999999!3d41.914649999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd24099688cbf%3A0xcd3e91ca38693007!2sFire+Arts+Center+of+Chicago!5e0!3m2!1sen!2sus!4v1516059893114"
    width="590"
    height="350"
    frameborder="0"
    sandbox="allow-scripts"
    allowfullscreen>
    <amp-img alt="Map of the Fire Arts Center of Chicago"
        src="{{ '/images/map-fire-arts-center.png' | relative_url }}"
        width="640"
        height="380"
        layout="fill"
        placeholder>
    </amp-img>
</amp-iframe>

<small><a href="https://www.google.com/maps/place/Fire+Arts+Center+of+Chicago/@41.91465,-87.736253,17z/data=!4m13!1m7!3m6!1s0x880fcd20844d4b07:0x287e8520460891ab!2s1830+N+Kostner+Ave,+Chicago,+IL+60639!3b1!8m2!3d41.914519!4d-87.7369329!3m4!1s0x880fd24099688cbf:0xcd3e91ca38693007!8m2!3d41.9146402!4d-87.7368223" style="text-align:left" target="_blank" rel="noopener noreferrer">View Larger Map</a></small>
