<!doctype html>
<html {% unless page.noAMP %}amp {% endunless %}lang="{{ page.lang | default: site.lang | default: "en" }}">
    {% include head.html %}
    <body class="{{page.id}} bg-black-light font-sans text-grey">
        {% include gtm.html %}
        {% include header.html %}
        <div id="top" class="container grid grid-main mx-auto">
            <aside>
                {% include navigation.html %}
            </aside>
            <main id="content" class="p-4">
                <h1 class="mt-0">
                    {% if page.category %}
                        {{ page.category | append: ' | ' }}
                    {% endif %}
                    {% if page.title %}
                        {{ page.title }}
                    {% else %}
                        Fire Arts Center of Chicago
                    {% endif %}
                </h1>
                {{ content }}
            </main>
        </div>
        {% include footer.html %}
    </body>
</html>
