<!doctype html>
<html amp lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body class="{{page.id}} bg-black-light font-sans text-grey">
        {% include gtm.html %}
        <div id="top" class="container grid grid-main mx-auto">
            {% include header.html %}
            <aside>
                {% include navigation.html %}
            </aside>
            <main id="content" class="px-4 sm:py-4 md:py-4">
                {{ content }}
            </main>
        </div>
        {% include footer.html %}
    </body>
</html>
