@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:600';

@import '_brand/colors';
@import '_brand/typography';

@import 'font-awesome';

@import '_brand/cards';
@import '_brand/grid.scss';
@import '_brand/headings.scss';
@import '_brand/hero.scss';
@import '_brand/sections.scss';

@import 'header';
@import 'nav';

@import 'home';

@import '_brand/demo.scss';

// **************General Page****************

*, :after, :before {
    box-sizing: border-box;
}

html {
    font-size:   $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
}

body {
	background-color: $gray-darker;
	color:            $gray-lightest;
	font-family:      $font-family-base;
    line-height:      1.45;
}

// Typography

p {
    strong {
        color: $white;
        font-weight: $font-weight-bold;
    }
}

.footer {
    background-color: $primary;
}
