@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:600';

// Core variables and mixins
@import '_brand/custom';
@import 'variables';
@import 'mixins';

// Reset and dependencies
@import 'normalize';
@import 'print';

// Core CSS
@import 'reboot';
@import 'type';
@import 'grid';
@import 'buttons';

// Components
@import 'nav';
@import 'navbar';
@import 'jumbotron';

// additional tools for alignment
@import 'utilities';

// @import 'font-awesome';

// @import 'home';

// **************General Page****************
// 
// 
// // Typography

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
}

.section {
    padding: 4.5rem 0;
    &._tall {

    }
}

p {
    strong {
        color: $white;
        font-weight: $font-weight-bold;
    }
}

.footer {
    background-color: $brand-primary;
    a {
        color: $gray-lightest;
        border-bottom: 1px dotted $white;
        &:hover {
            color: $white;
            text-decoration: none;
            border-bottom: 1px solid $white;
        }
    }
}
