---
layout: page
title: Figure Study
id: figure-study
content: |
    <img src="/images/figure-sculpture.jpg" alt="Figure Sculpture at the Fire Arts Center">
    <p>Here at The Fire Arts Center, we see figure sculpture as essential to the understanding of the complexity of 3-dimensional form&mdash;as drawing is to the understanding of color, light and composition. The relationship between sculpting the figure and bronze casting is a long one, dating back to the first attempt to master the bronze casting process.</p>
    <p>The figure program at The Fire Arts Center stresses mastery of the classical techniques of sculpting the humans form in clay and wax. Students are also given the choice of casting finished work in plaster, or firing them in their original terracotta clay.</p> 
    <h2>Courses in figure study include:</h2>
    <img src="/images/figure-sculpture2.jpg" alt="Figure Sculpture at the Fire Arts Center">
    <h3>Figure Sculpture Workshop</h3>
    <p>
        Instructor: Vincent Hawkins<br />
        Saturday 10:00am&ndash;1:00pm<br/>
        Monday 6:30pm&ndash;9:30pm<br/>
        $200 for 8 weeks
    </p>
    <p>In this multi-level class students will learn to master the classical figure sculpture technique from a live model. We will cover the use of clay tools, clay body chemistry, basic armature construction, anatomy, and clay hollowing and firing technique.</p>

---
{{> col-8-center }}

{{#with classes.figureStudy}}
    {{> class}}
{{/with}}

{{!
    <tr>
    <td>
    <p align="left" class="header4">*NEW* Open Life Drawing Workshop</p>
    <p align="left" class="description">Instructor: N/A<br />
    Monday 7:00pm - 9:30pm<br>
    $15 per session, per person | <strong>$10 if you call in advance</strong></p>
    <p align="left" class="description">Open drawing sessions at the Fire Arts Center are 3 hours of non-instructional drawing with a live model. We start with quick poses and work up to 2 one-hour poses, depending on what people decide on. Sessions are $15 dollars for walk-in artists, $10 dollars for those who call up to one day in advance and enrolled students are free. </p>
    </td>
    </tr>
    <tr>
    <td><p align="left" class="header4">Figure Drawing</p>
    <p align="left" class="description">Instructor: Vincent Hawkins<br />
    Saturday 10:30am - 1:30pm | $285 for 10 weeks</p>
    <p align="left" class="description">Learn to Draw like Leonardo DaVinci in this 10-week figure drawing workshop. Students will explore classical drawing technique for rendering the human form in conte crayon, pencil, silver point and various other drawing mediums. In addition to drawing, the class offers a chance to sculpturally study the human form, as well. Either way you choose to work, you will receive a comprehensive education regarding human anatomy and figure study in your medium of choice.</p></td>
    </tr>
    <tr>
    <td><p align="left" class="header4">Beginning and Intermediate Painting</p>
    <p align="left" class="description">Instructor: Vincent Hawkins<br />
    Mondays &amp; Wednesdays 9:30am-12:30<br />
    Saturday 9:30am - 12:30 | $195 for 10 weeks</p>
    <p align="left" class="description">Open to all levels, this course will teach principles of design and color theory, and the basics of pallet layout, paining  mediums and technique  Primarily an oil painting class, the goal is to equip you with the skills necessary to fulfill your own artistic vision.</p> 
    </td> 
    </tr>
}}
