---
layout: page
title: Forge
id: forge
content: |
    <h3>Knife and Sword Making</h3>
    <p>Instructors: Micheal Bennett, Vincent Hawkins, &amp; Chris Mayor<br />
    Monday 7:00pm&ndash;10:00pm<br/>
    Tuesday 7:00pm&ndash;10:00pm<br/>
    Wednesday 10:00am&ndash;1:00pm &amp; 7:00pm&ndash;10:00pm<br />
    Saturday 3:00pm&ndash;6:00pm<br/>
    $400 for 16 weeks, $285 for 10 weeks</p>       
    <p>Learn the sacred craft of forging functional blades out of steel. In this class students will learn how to design and forge knives and swords as well as designing and making ornate hilts and scabbards. Skills learned in this class include forging technique, tempering, gas and coke forge operations, and surfacing techniques.</p>

---

{{> col-8-center }}
