---
layout: page
title: Foundry
id: foundry 
content: |
    <img src="/images/found1.jpg" alt="Bronze Sculpture Casting at the Fire Arts Center">
    <h3>Bronze Casting &amp; Mold Making</h3>
    <p>Instructors: Vincent Hawkins and Michael Bennett<br />
    Wednesday 7:00pm&ndash;10:00pm<br/>
    Saturday 3:00&ndash;6:00pm<br/>
    $400 for 16 weeks, $285 for 10 weeks</p>
    <p>This class is designed to familiarize students with the basics of lost wax casting process. Depending on the project students will learn wax casting and working technique, gating and venting, ceramic shell and investment molding techniques. Students will be required to complete at least 3 finished projects.</p>
    <p>Repetition of this class will provide more advanced foundry education.</p>

---

{{> col-8-center }}

{{!

<p align="left" class="header4">*NEW CLASS* Glass Casting and Slumping Workshop<img src="Images/glass-casting.jpg" style="margin-left: 10px;" class="floatright" alt="Glass Casting and Slumping Workshop" title="Glass Casting and Slumping Workshop"></p>
<p align="left" class="description">Instructors: Mike Bennett, Vincent Hawkins<br>
Saturdays 3pm-6pm<br>
$200 for 8 weeks</p>
<p align="left" class="description">This new class will cover large-scale glass casting techniques and relief casting technique. Students will make sculptures or relief casts in clay, then they will learn how to pull molds from their sculptures cast them in colored glass.</p>

        <tr>
            <td><p align="left" class="header4">Intermediate Foundry | Metal (Bronze) Casting</p>
            <p align="left" class="description">Instructors: Vincent Hawkins and Michael Bennett<br />
            Saturday 3-6pm<br />
            $285 for 10 weeks <strong>or</strong> $400 for 16 weeks</p>
            <p align="left" class="description">The intermediate metal foundry class is designed to give a basic understanding of foundry procedure and the techniques for doing large scale casting in iron, bronze, aluminum, and copper. The burnout kiln, wax recycling operations, and patination techniques will be covered. Students will participate in iron, bronze, aluminum and copper pours. As before, students will be required to complete at least 3 finished projects cast in bronze.</p>
            </td>
        </tr>
        <tr>
            <td><p align="left" class="header4">Advanced Foundry | Metal (Bronze) Casting</p>
            <p align="left" class="description">Instructor: Vincent Hawkins and Michael Bennett<br />
            Saturday 3-6pm<br />
            $285 for 10 weeks <strong>or</strong> $400 for 16 weeks</p>
            <p align="left" class="description">The advanced metal foundry class will give students a level of mastery over the process of casting art works in bronze, iron, aluminum, and copper. We will cover kiln design and construction, ferrous and non-ferrous metallurgy and alloying. Students are required to take at least 2 intermediate metal foundry classes before being accepted for enrollment in the advance foundry class.</p>
            </td>
        </tr>
        <tr>
            <td><p align="left" class="header4">Beginning Mold Making</p>
            <p align="left" class="description">Instructors: TBD<br />
            Thursday 7-10pm<br />
            $285 for 10 weeks <strong>or</strong> $400 for 16 weeks</p>
            <p align="left" class="description">In the beginning mold making class students will learn basic techniques of plaster molding. We will cover how to make one piece molds, two piece molds, waste molds in plaster, and latex rubber molds. These techniques would be beneficial for any student, but particularly helpful to anyone interested in foundry work or casting in a variety of materials.</p>
            </td>
        </tr>
        <tr>
            <td><p align="left" class="header4">Intermediate Mold Making</p>
            <p align="left" class="description">Instructors: TBD<br />
            Thursday 7-10pm<br />
            $285 for 10 weeks <strong>or</strong> $400 for 16 weeks</p>
            <p align="left" class="description">Students in the intermediate mold making class will learn more advanced molding techniques. Making multiple piece plaster molds, urethane and silicones rubber molds, techniques for drawing out and gaging symmetrical forms in plaster using a template, as well as model building in plaster and styrofoam will be covered. These techniques will also be of help for those interested in the Fire Arts foundry classes.</p>

}}
