---
layout: page
title: Furniture
id: furniture
content: |
    <h3>Metal Furniture Studio</h3>
    <p>Instructors: Vincent Hawkins &amp; Micheal Bennett<br />
    Wednesday 10:00am&ndash;1:00pm &amp; 7:00pm&ndash;10:00pm<br />
    Saturday 3:00pm&ndash;6:00pm<br />
    $400 for 16 weeks, $285 for 10 weeks</p>
    <p align="left" class="description">Students will learn how to design and create basic table top furnishings in metal using  basic techniques of metal fabrication and brazing.</p>
    <p align="left" class="description"><em>Repetition of this class will provide more advanced metal-working lessons.</em></p></td>

---

{{> col-8-center }}
